{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">

    <style>
        .navbar {
            border-radius: 0;
        }
    </style>
    {% block css %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">测试记录管理系统</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"#}
{#                       aria-expanded="false">功能管理 <span class="caret"></span></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="/admin1/list/">管理员管理</a></li>#}
{#                        <li><a href="/depart/list/">部门管理</a></li>#}
{#                        <li><a href="/user/list/">用户管理</a></li>#}
{#                    </ul>#}
{#                </li>#}

                <li><a href="/user/list/">用户管理</a></li>
                <li><a href="/manufacturer/list/">厂商管理</a></li>
                <li><a href="/platform/list/">平台管理</a></li>
                <li><a href="/case/list/">用例/脚本管理</a></li>
{#                <li><a href="/logs/list/">测试结果预处理</a></li>#}
                <li><a href="/performance/list/">测试结果管理</a></li>
                <li><a href="/performance/chart_list/">测试结果数据统计</a></li>
{#                <li><a href="/upload/list/">Manual文件上传</a></li>#}
{#                <li><a href="/upload/form/">Form文件上传</a></li>#}
{#                <li><a href="/upload/modelform/">ModelForm文件上传</a></li>#}
{#                <li><a href="/city/list/">城市列表(图片)</a></li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            {# request.session.info.name 是因为session 中设置保存用户id,还用用户名到字典 info中  #}
                       aria-expanded="false">{{ request.session.info.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">我的信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div style="margin-top: 80px">
    {% block content %}
    {% endblock %}
</div>


<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>
