{% extends 'layout.html' %}

{% block content %}
    <div class="container">

        <div style="margin-bottom: 10px">
            <a href="/logs/add" class="btn btn-primary btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建Log
            </a>
            <a href="/logs/process" class="btn btn-primary btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Log处理
            </a>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                Logs列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">序号</th>
                    <th class="text-center">Log名称</th>
                    <th class="text-center">关键词</th>
                    <th class="text-center">用例标识</th>
                    <th class="text-center">Log</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in query_set %}
                    <tr class="text-center">
                        {#  <td>{{ obj.id }}</td>#}
                        {# 遍历前端表单的序号 #}
                        <td>{{ forloop.counter }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.keywords }}</td>
                        <td>{{ obj.test_script_id.test_case_id }}</td>
                        <td>{{ obj.log }}</td>
                        <td>
                            <a href="/logs/{{ obj.id }}/update/" class="btn btn-primary btn-xs">编辑</a>
                            <a href="/logs/delete/?del_id={{ obj.id }}" class="btn btn-danger btn-xs">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
